<!DOCTYPE html>
<html>

    <fieldset>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <form action="/" method="post">
        <input name="keyword" type="text" class="ghost-input" placeholder="Welcome to #OldNews! Please enter search term" required>
        <button class="btn default">Search!</button>
      </form>
    </fieldset>  </div>
  </section>

</body>

</html>
