<!DOCTYPE html>
<html>

    <fieldset>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <h2>Sorry... search term "<%= keyword %>" was not in the #OldNews database...</h2>
      <form action="/" method="get">
        <button class="btn default">Try again...</button>
      </form>
    </fieldset>  </div>
  </section>

</body>

</html>
